PORT=3001

AUTH_GRPC_PORT=21001
REDIS_PORT=6379
AUTH_SERVICE=127.0.0.1:21001

REDIS_HOST=localhost

DATABASE_HOST=localhost
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
SYNCHRONIZE=1

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=


FRONTEND_URL=http://localhost:5173


JWT_KEY=dev
JWT_EXPIRES=365d
DATABASE_SSL=true
