PORT=3007

CUS_AUTH_CLIENT=0.0.0.0:21002
EMP_AUTH_CLIENT=127.0.0.1:21001
TRAVEL_PACKAGE_CLIENT=0.0.0.0:21003
CAR_CLIENT=0.0.0.0:21004

EXCHANGE_RATE_API='https://open.er-api.com/v6/latest/USD'

DATABASE_URL=postgres://username:password@hostname:5432/dbname
SECONDARY_DATABASE_URL=postgres://username:password@hostname:5432/dbname
THIRD_DATABASE_URL=postgres://username:password@hostname:5432/dbname

SYNCHRONIZE=1
SECONDARY_SYNCHRONIZE=1
THIRD_SYNCHRONIZE=1

JWT_KEY=dev
JWT_EXPIRES=365d
DATABASE_SSL=false

