PORT=3008

CUS_AUTH_CLIENT=0.0.0.0:21002
EMP_AUTH_CLIENT=127.0.0.1:21001


DATABASE_HOST=localhost
DATABASE_NAME=livechat_db
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
SLAVE_DATABASE_HOST=
SLAVE_DATABASE_NAME=
SLAVE_DATABASE_USER=
SLAVE_DATABASE_PASSWORD=
SLAVE_DATABASE_PORT=
SYNCHRONIZE=1


JWT_KEY=dev
JWT_EXPIRES=365d
DATABASE_SSL=false

