PORT=3005

TRANSACTION_GRPC_PORT=21005
REDIS_PORT=6379
CUS_AUTH_CLIENT=0.0.0.0:21002
EMP_AUTH_CLIENT=127.0.0.1:21001
TRAVEL_PACKAGE_CLIENT=0.0.0.0:21003
CAR_CLIENT=0.0.0.0:21004


REDIS_HOST=127.0.0.1

DATABASE_HOST=localhost
DATABASE_NAME=
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_PORT=5432
SLAVE_DATABASE_HOST=localhost
SLAVE_DATABASE_NAME=
SLAVE_DATABASE_USER=postgres
SLAVE_DATABASE_PASSWORD=
SLAVE_DATABASE_PORT=5432
SYNCHRONIZE=1

JWT_KEY=dev
JWT_EXPIRES=365d
DATABASE_SSL=false


MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=


EXCHANGE_RATE_API='https://open.er-api.com/v6/latest/USD'

MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com

CLIENT_URL=http://localhost:3000
