PORT=3001

AUTH_GRPC_PORT=21001
REDIS_PORT=6379
EMP_AUTH_CLIENT=127.0.0.1:21001

REDIS_HOST=localhost

DATABASE_URL=postgres://username:password@hostname:5432/dbname

#used for slave db, pass the same db url if u not do clustering
SLAVE_DATABASE_URL=postgres://username:password@hostname:5432/dbname


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=


FRONTEND_URL=http://localhost:5173


JWT_KEY=dev
JWT_EXPIRES=365d
DATABASE_SSL=true
SYNCHRONIZE=1

