PORT=3002

TRAVEL_PACKAGE_GRPC_PORT=21003
REDIS_PORT=6379
EMP_AUTH_CLIENT=0.0.0.0:21001

REDIS_HOST=127.0.0.1

DATABASE_URL=postgres://username:password@hostname:5432/dbname

#used for slave db, pass the same db url if u not do clustering
SLAVE_DATABASE_URL=postgres://username:password@hostname:5432/dbname
SYNCHRONIZE=1


JWT_KEY=dev
JWT_EXPIRES=365d
DATABASE_SSL=false
