PORT=3002

TRAVEL_PACKAGE_GRPC_PORT=21003
REDIS_PORT=6379
EMP_AUTH_CLIENT=0.0.0.0:21001

REDIS_HOST=127.0.0.1

DATABASE_HOST=localhost
DATABASE_NAME=
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_PORT=5432
SLAVE_DATABASE_HOST=localhost
SLAVE_DATABASE_NAME=
SLAVE_DATABASE_USER=postgres
SLAVE_DATABASE_PASSWORD=
SLAVE_DATABASE_PORT=5432
SYNCHRONIZE=1


JWT_KEY=dev
JWT_EXPIRES=365d
DATABASE_SSL=false
