PORT=

## PORT grpc server
CUS_AUTH_GRPC_PORT=

## URL to GRPC Connection
EMP_AUTH_CLIENT=
CUS_AUTH_CLIENT=

REDIS_HOST=
REDIS_PORT=

DATABASE_URL=postgres://username:password@hostname:5432/dbname

#used for slave db, pass the same db url if u not do clustering
SLAVE_DATABASE_URL=postgres://username:password@hostname:5432/dbname
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD
MAIL_FROM=

SYNCHRONIZE=1

# frontend customer
CLIENT_URL=

JWT_KEY=
JWT_EXPIRES=
DATABASE_SSL
